manifest {
    name            = 'nf-varcall-cloud'
    nextflowVersion = '>=23.10.0'
}

params {
    input  = null
    fasta  = null
    outdir = 'results'
}

profiles {
    local    { includeConfig 'conf/local.config' }
    docker   { docker.enabled = true }
    awsbatch { includeConfig 'conf/awsbatch.config' }
}

includeConfig 'conf/base.config'
